* {
  margin: 0;
}
h1 {
  background: red;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 50px;
}
p {
  background-color: blue;
  /* padding: 50px; */
  /* padding: 60px 30px; */
}
